<%= form_for(@user) do |f| %>
    <div class="fields">
      <%= f.label :username %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email adddress" %>
      <%= f.label :youtube %>
      <%= f.text_field :youtube, placeholder: "Youtube channel (optional)" %>
      <%= f.label :twitter %>
      <%= f.text_field :twitter, placeholder: "Twitter handle (optional)" %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="buttons">
      <%= f.submit "Submit", class: "affirm" %>
    </div>
  <% end %>
  <div class="buttons">
    <%= button_to 'Cancel', root_path, method: :get, class: "disaffirm" %>
  </div>
  <% if @user.errors.full_messages.any? %>
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>
