<section class="form hidden" id='login-form-section'>
  <h2>Login</h2>
  <%= form_for 'session', html: { id: 'login-form' } do |f| %>
    <div class="fields">
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="buttons">
      <%= f.submit "Login", class: "affirm", id: "do-login" %>
    </div>
  <div class="buttons">
    <%= button_to 'Cancel', root_path, method: :get, class: "disaffirm" %>
  </div>
  <% end %>
</section>
