<!DOCTYPE html>
<html>
<head>
  <title>Title | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/templates' %>
	<header>
		<h1><%= link_to 'Title', root_path, method: :get %></h1>
		<section id="session">
			<%= link_to "Login", new_session_path, class: "session-link", id: "login-link" %> |
			<%= link_to 'Register', new_user_path, class: "session-link", id: "register-link" %>
		</section>
		<a id='login-anchor'></a>
	</header>
	<%= yield %>
	<footer>
		<%= link_to "https://github.com/Nase00/kspace", 'https://github.com/Nase00/kspace', class: "footer-link" %>
	</footer>
</body>
</html>
