<!DOCTYPE html>
<html>
<head>
  <title>Kspace | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1><%= link_to 'KSpace', root_path, method: :get %></h1>
		<section id="session">
			<% if logged_in? %>
				<span id="welcome">Logged in as: <%= link_to current_user.name, current_user, class: "session-link" %> | </span>
				<%= link_to 'LOGOUT', logout_path, method: :delete, class: "session-link", id: "logout-link" %>
			<% else %>
				<%= link_to "Login", login_path, class: "session-link", id: "login-link" %> |
				<%= link_to 'Register', new_user_path, class: "session-link", id: "register-link" %>
			<% end %>
		</section>
	</header>

	<section class="form hidden" id='login-form'>
		<h2>Login</h2>
		<%= form_for(:session, url: login_path) do |f| %>
			<div class="fields">
				<%= f.label :email %>
				<%= f.text_field :email, placeholder: "Email adddress" %>
				<%= f.label :password %>
				<%= f.password_field :password, placeholder: "Password" %>
			</div>

			<div class="buttons">
				<%= f.submit "Login", class: "affirm", id: "do-login" %>
			</div>
		<% end %>
		<div class="buttons">
			<%= button_to 'Cancel', root_path, method: :get, class: "disaffirm" %>
		</div>
	</section>

	<section class="form hidden" id='register-form'>
		<h2>Register</h2>
		<%= form_for(:user, url: new_user_path, method: :create) do |f| %>
			<div class="fields">
				<%= f.label :name %>
				<%= f.text_field :name, placeholder: "Name" %>
				<%= f.label :email %>
				<%= f.text_field :email, placeholder: "Email adddress" %>
				<%= f.label :youtube %>
				<%= f.text_field :youtube, placeholder: "Youtube channel (optional)" %>
				<%= f.label :twitter %>
				<%= f.text_field :twitter, placeholder: "Twitter handle (optional)" %>
				<%= f.label :password %>
				<%= f.password_field :password %>
				<%= f.label :password_confirmation, "Confirm" %>
				<%= f.password_field :password_confirmation %>
			</div>

			<div class="buttons">
				<%= f.submit "Submit", class: "affirm" %>
			</div>
		<% end %>
		<div class="buttons">
			<%= button_to 'Cancel', root_path, method: :get, class: "disaffirm" %>
		</div>
	</section>

	<%= yield %>
	<footer>
		<%= link_to "https://github.com/Nase00/kspace", 'https://github.com/Nase00/kspace', class: "footer-link" %>
	</footer>
</body>
</html>
